* {
  box-sizing: border-box;
}

html,
body,
#root {
  overscroll-behavior-y: none;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter var', sans-serif;
  color: white;
  background: #101010;
}

::-moz-selection {
  color: #ec3d44;
}
::selection {
  color: #ec3d44;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: #101010;
}

.fullscreen.notready {
  color: #606060;
}

.fullscreen.ready > div {
  cursor: pointer;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[data-inviewport='scale-in'] {
  transition: 2s;
  transform: scale(0.1);
}
[data-inviewport='scale-in'].is-inViewport {
  transform: scale(1);
}

[data-inviewport='fade-in-left'] {
  transition: 1.2s;
  transform: translateX(-200px);
  opacity: 0;
}
[data-inviewport='fade-in-left'].is-inViewport {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

[data-inviewport='fade-in-right'] {
  transition: 1.2s;
  transform: translateX(200px);
  opacity: 0;
}
[data-inviewport='fade-in-right'].is-inViewport {
  transform: translateX(0);
  opacity: 1;
}

[data-inviewport='fade-in-bottom'] {
  transition: 1.2s;
  transform: translateY(100px);
  opacity: 0;
}
[data-inviewport='fade-in-bottom'].is-inViewport {
  transform: translateY(0);
  opacity: 1;
}

[data-inviewport='fade-rotate'] {
  transition: 2s;
  opacity: 0;
}
[data-inviewport='fade-rotate'].is-inViewport {
  transform: rotate(180deg);
  opacity: 1;
}

[data-inviewport='fade-in'] {
  transition: 2s;
  opacity: 0;
}
[data-inviewport='fade-in'].is-inViewport {
  opacity: 1;
}
